.header {
  flex-basis: 300px;
  flex-shrink: 0;
  height: 100%;
  background-color: var(--theme-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--theme-white-smoke);
}
